<nav class="d-flex justify-content-between align-items-center">
    <a href="/"><img class="logo" src="/assets/logo_colored.png"></a>
    <div class="d-flex">
        <a href="/"><img src="/assets/signout.png" width="30px"></a>
    </div>
</nav>