<nav class="d-flex justify-content-between align-items-center">
    <a href="/"><i class="fa-solid fa-xl fa-code"></i> No Name Code Academy</a>
    <div class="d-flex">
        <a href="/"><i class="fa-solid fa-xl fa-right-from-bracket"></i></a>
    </div>
</nav>