<%- include('partials/header') %>

<img class="logo" src="/assets/logo_colored.png">

<div class="container-md mt-5 p-2">
    <h1>Login</h1>
    <form action="/home" method="post">
        <div class="col-md-3">
            <label>Username</label>
            <input type="text" class="form-control">
            <label>Password</label>
            <input type="text" class="form-control">
            <button class="btn btn-primary mt-5">Login</button>
        </div>
    </form>
</div>

<%- include('partials/footer') %>