
.logo {
    width: 100px;
}

a {
    text-decoration: none !important;
    color: #53afff !important;
}

nav {
    padding: 50px 100px;
}

.btn-primary {
    background-color: #dbdbdb !important;
}

h4 {
    margin-top: 40px !important;
}

label {
    margin: 20px 0 10px 0;
}

.content-con {
    background-color: #f7f7f7;
    border-radius: 30px;
    line-height: 2rem;
}

.content-con a {
    padding: 5px;
}

.content-con a:hover {
    background-color: #ececec;
    padding: 5px;
    border-radius: 5px;
}

.btn-back {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ececec;
    border-radius: 50%;
    padding: 10px;
}
