<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container-md mt-5 p-2">

    <h1>HTML, CSS, JavaScript</h1>

    <h4><i class="fa-brands fa-html5"></i> HTML</h4>
    <div class="container-md p-5 content-con">
        <a href=""><i class="fa-solid fa-note-sticky"></i> Notes</a><br>
        <a href="" target="_blank"><i class="fa-solid fa-download"></i> Files</a><br>
        <a href="/html_personal_website" target="_blank"><i class="fa-solid fa-star"></i> Personal Website</a>
    </div>

    <h4><i class="fa-brands fa-css"></i> HTML and CSS</h4>
    <div class="container-md p-5 content-con">
        <a href=""><i class="fa-solid fa-note-sticky"></i> Notes</a><br>
        <a href="" target="_blank"><i class="fa-solid fa-download"></i> Files</a><br>
        <a href="/html_css_news_layout" target="_blank"><i class="fa-solid fa-star"></i> News Website Layout</a>
    </div>

    <h4><i class="fa-brands fa-bootstrap"></i> Bootstrap 5</h4>
    <div class="container-md p-5 content-con">
        <a href="/bs5" target="_blank()"><i class="fa-solid fa-note-sticky"></i> Notes</a><br>
        <a href="resources/res_bootstrap_5.zip" download="res_bootstrap_5.zip"  target="_blank"><i class="fa-solid fa-download"></i> Files</a><br>
        <a href="#" target="_blank"><i class="fa-solid fa-star"></i> Bootstrap Flight Search</a>
    </div>

    <h4><i class="fa-brands fa-js"></i> JavaScript</h4>
    <div class="container-md p-5 content-con">
        <a href="/js" target="_blank()"><i class="fa-solid fa-note-sticky"></i> Notes</a><br>
        <a href="resources/res_javascript.zip" download="res_javascript.zip"  target="_blank"><i class="fa-solid fa-download"></i> Files</a><br>
        <a href="/js_calculator_app" target="_blank"><i class="fa-solid fa-star"></i> Calculator App</a>
    </div>

    <a href="/" class="btn-back"><i class="fa-solid fa-xl fa-arrow-left"></i></a>
</div>

<%- include('../partials/footer') %>